# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2023
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
name: Check End-to-End (On Demand)
# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - "**.sh"
      - "!.github/*"
  pull_request_review:
    types:
      - submitted
jobs:
  check-scripts-format:
    if: >-
      ( github.event_name == 'pull_request_review' && github.event.review.state == 'approved' ) || github.event_name != 'pull_request_review'
    name: Check scripts format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Run the sh-checker
        uses: luizm/action-sh-checker@v0.10.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHFMT_OPTS: -i 4 -s
        with:
          sh_checker_shellcheck_disable: true
  smoke-test:
    name: Check smoke tests
    needs: check-scripts-format
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Configure git
        run: |
          git config --global user.email "ci@demo.com"
          git config --global user.name "CI user"
      - name: Deploy KPT services
        working-directory: ./scripts
        env:
          DEBUG: true
          ENABLE_FUNC_TEST: true
          PROVISION_PHASES: install
        run: ./main.sh
      - name: Run KPT demo
        working-directory: ./scripts
        run: ./demo-kpt.sh
  functional-test:
    name: Check functional tests
    needs: check-scripts-format
    runs-on: vm-self-hosted
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/vagrant-setup
      - name: Create vagrant box
        env:
          DEBUG: true
          ENABLE_FUNC_TEST: true
        uses: ./.github/actions/vagrant-up
